.bannerReservation {
  background-image: url(C:\Users\jouan\OneDrive\Bureau\wcs\apicars\0923-paris-js-p2-apiCars\frontend\src\assets\TESLA.jpg);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: right 40% top 50%;
  margin-top: 0;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerReservation > .text {
  padding-top: 35px;
  color: black;
  height: 1%;
  width: 1%;
  font-size: 30px;
  font-weight: bold;

  margin-right: 25%;
  border-radius: 10px 10px;
  font-family: "Encode Sans Expanded";
}
.bannerReservation > p {
  background-color: hsla(60, 1%, 66%, 0.75);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  border-radius: 10px 10px;
}
