.banner {
  background-image: url("../assets/voiture-sport-couleur-metallisee-ruban-conduisant-grande-vitesse-route.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: right 40% top 50%;
  margin-top: 0;
  align-items: center;
}

.banner > .text {
  padding-top: 50px;
}

.banner p {
  background-color: hsla(60, 1%, 66%, 0.75);
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Encode Sans Expanded";
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 10px;
  padding-left: 2%;
  text-align: center;
}
