body {
  /* background-color: rgba(255, 255, 255, 1); */
}

img {
  width: 22rem;
  height: 10rem;
  border-radius: 2rem;
  border: 5px solid;
  color: black;
}

.car {
  display: inline-block;
  align-items: center;
}

p {
  text-align: center;
  font-family: "Encode Sans Expanded";
}

.propsVoiture {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
}

.description {
  font-weight: bold;
}

.car-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12%;
  margin-right: 15%;
}
