.arrayimg {
  width: 20rem;
  height: 10rem;
  border-radius: 5rem;
}
.car {
  display: inline-block;
  align-items: center;
}
p {
  text-align: center;
  font-family: "Encode Sans Expanded";
}
.container-props-car {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.propsVoiture {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #090909;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 15%;
  box-shadow: 10%;
  height: 80%;
  width: 40%;
  margin: 1rem;
  gap: 1rem;
}
.description {
  font-weight: bold;
}
.componentCardButton {
  border-radius: 20%;
}
.picture-car {
  height: 10vh;
  width: 10vw;
}
.car-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
