.footer {
  display: flex;
  text-decoration: underline;
  font-family: "Encode Sans Expanded";
  align-items: center;
  background-color: rgba(223, 223, 223, 1);
  padding: 5px;
  color: rgb(2, 2, 2);
  max-width: none;
  border: 3em;
  border-style: initial;
  border-color: rgb(3, 3, 3);
  text-align: center;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: "Encode sans Expanded";
}
.contact {
  float: left;
  text-decoration: underline;
  align-items: center;
}

.reseaux {
  align-items: center;
  text-decoration: underline;
}

.emploi {
  float: right;
  text-decoration: underline;
}

#picture-social-network {
  width: 12rem;
  height: 2rem;
}
