.footer {
  display: flex;
  flex-direction: row;
  font-family: "Encode Sans Expanded";
  background-color: rgba(223, 223, 223, 1);
  width: 100%;
  height: auto;
  color: rgb(2, 2, 2);
  border-style: initial;
  border-color: rgb(3, 3, 3);
  font-family: "Encode Sans Expanded";
}

.contact {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  width: 80%;
}

.reseaux {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.follow {
  width: 30%;
}

.footer-logo {
  width: 20%;
  height: 20px;
  gap: 10px;
}

#facebook {
  height: 5vh;
}

#facebook:hover {
  transform: scale(1.15);
}

#twitter {
  height: 5vh;
}
#twitter:hover {
  transform: scale(1.15);
}

#google {
  height: 5vh;
}
#google:hover {
  transform: scale(1.15);
}
