fieldset {
  /*justify-content: center;*/
  background-color: rgba(10, 61, 89, 1);
}

input {
  display: block;
  align-items: end;
  width: 12rem;
  height: 2rem;
  font-family: "Encode sans Expanded";
}

button {
  margin-left: 40rem;
  width: 10rem;
  height: 5rem;
  border-radius: 40rem;
  font-family: "Encode sans Expanded";
}
