nav {
  background-color: #0a3d59;
  display: flex;

  box-sizing: border-box;
  list-style: armenian;
  text-decoration: none;
  justify-content: space-between;
}

#nav-img {
  position: static;
  top: auto;
  float: left;
}

#apicar {
  height: 200px;
  width: 200px;
}
#nav-item {
  margin: 0%;
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#nav-log {
  position: relative;
  top: auto;
  color: white;
  font-size: 75%;
  margin-top: 2em;
}

.inscirptionNavBar h3 {
  background-color: rgb(254, 255, 255);
}

.nav-item {
  width: 100%;
  text-align: center;
}

.h3-login {
  background-color: rgb(246, 240, 240);
  width: 5em;
  height: 1.4em;
  margin: 2em;
  border-radius: 0.7em;
  border: 2px solid rgb(1, 1, 1);
  box-shadow: black;
}
