nav {
  background-color: #0a3d59;
  display: flex;
  box-sizing: border-box;
  list-style: armenian;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}
.h3-login {
  color: black;
  font-family: "Encode Sans Expanded";
}
#nav-img {
  position: static;
  top: auto;
  float: left;
}

#apicar {
  height: 100px;
  width: 100px;
}

#nav-log {
  position: relative;
  top: auto;
  color: white;
  font-size: 75%;
  margin-top: 2em;
}

.fontSizeItems {
  font-size: 25px;
  font-family: "Encode Sans Expanded";
}
.h3-login {
  background-color: rgb(246, 240, 240);
  width: 5em;
  height: 1.4em;
  border-radius: 0.7em;
  border: 2px solid rgb(1, 1, 1);
  box-shadow: black;
  padding-left: 23px;
  padding-right: 0px;
  margin-right: 15px;
}
