nav {
  background-color: #0a3d59;
  display: flex;

  box-sizing: border-box;
  list-style: armenian;
  text-decoration: none;
  justify-content: space-between;
  width: 100%;
}

.nav-img {
  position: static;
  top: auto;
  float: left;
}

#apicar {
  height: 91px;
  width: 164px;
}
.nav-item {
  margin: 0%;
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
}
.nav-log {
  margin: 0%;
  padding: 0%;
  position: relative;
  top: auto;
  float: right;
  font-size: 75%;
  margin-top: 1em;
}

.nav-log > h3 {
  background-color: rgb(254, 255, 255);
  border-radius: 0.7em;
  width: 5em;
  height: 1.4em;
  border: 2px solid black;
  float: right;
  text-align: center;
  margin: 0.5em;
}

.nav-item > h3 {
  width: 100%;
  text-align: center;
}
